<%= render "home" %>
<h1>About&nbsp; Me</h1>


<div id="container">
<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/me.jpg", :alt =>"me")%>
<h4>
 <p>Hello, my name is Darcey and I graduated  with a studio Art and Communications double major from University of California, Santa Barbara before I graduated from Dev Bootcamp. </p>
<p>
 I have always been an artist and a performer, if I'm creating, I'm thriving! Drawing, singing, dancing, painting, illustrating, and coding.  
</p>
<p>
I'm excited to use visual communication to positively change the world. 
</p>
</h4>

</div>
<%= render "cntct" %>

