<%= render "home" %>
<h1>About&nbsp; Me</h1>


<div id="container">
<%= image_tag("me.jpg", :alt =>"me")%>
<h4>
 <p>Hello, my name is Darcey and I graduated from University of California, Santa Barbara before I graduated from Dev Bootcamp. I double majored Art and Communications in order to create imagery which will reach desired audiences in the most effective manner, and studied programming to put my aesthetics to dynamic use.</p>
<p>
 I have always been an artist and a performer, aspiring to work in a creative field as an adult. I am interested in working in graphic design and creative art direction, careers which I know will best suit me in the professional world.
</p>
<p>
 Graphic design is a never-ending quest to communicate with others through visual means, and I believe that this visual communication can help change the world. I take every creative opportunity given to me, knowing that it will provide me with the applied experiences necessary to succeed in my field. I am looking for jobs and internships in the areas of programming, creative art direction, graphic design, marketing, and animation.
</p>
</h4>

</div>
<%= render "cntct" %>

