<%= render "home" %>

<h1>Projects</h1>
<div id="project_list">
	<div class="project">
		<div class="proj">
			<%= link_to image_tag("monkey.png", :alt => "BACmonkey"), "http://www.bacmonkey.com" %>
			<h2>BAC&nbsp; Monkey</h2>
		</div>
		<div class="description">
			<h4>"Personal tracker for your chemical vices."</h4>
			<h4>Duration: 5 days</h4>
			<h4>Team Members: 4</h4>
			<h4>Role:</br></br> User Interface, User Experience, Front End Development, D3 Graphs</h4>
		</div>
	</div>
	<div class="project">
		<div class="proj">
			<%= link_to image_tag("HFA.png", :alt =>"HFA"), "https://github.com/Bigspencey/nfl_home_field_advantage" %>
			<h2>NFL &nbsp; Home &nbsp; Field </br>Advantage</h2>
		</div>
		<div class="description">
			<h4>"Display each NFL team's Home Field Advantage for the past 10 seasons." </h4>
			<h4>Duration: In progress</h4>
			<h4>Team Members: 4</h4>
			<h4>Role:</br></br> User Interface, User Experience, Front End Development, D3 Graphs</h4>

		</div>
	</div>
	<div class="project">
		<div class="proj">
			<%= link_to image_tag("davidslist.png", :alt =>"davidslist"), "http://davidslist.herokuapp.com/" %>
			<h2>David's &nbsp; List</h2>
		</div>
		<div class="description">
			<h4>"Recreate the basic functionality of Craigslist."</h4>
			<h4>Duration: 4 hours</h4>
			<h4>Team Members: 2</h4>
			<h4>Role:</br> </br>Back End Development</h4>
		</div>
	</div>
	
</div>

