<%= render "home" %>

<h1>Projects</h1>
<div id="project_list">
	<div class="project">
		<%= link_to image_tag("monkey.png", :alt => "BACmonkey"), "http://www.bacmonkey.com" %>
		<h2>BAC&nbsp; Monkey</h2>
	</div>
	<div class="project">
		<%= link_to image_tag("HFA.png", :alt =>"HFA"), "https://github.com/Bigspencey/nfl_home_field_advantage" %>
		<h2>NFL &nbsp; Home &nbsp; Field </br>Advantage</h2>
	</div>
	
</div>

