<%= render "home" %>

<div id="resume">
	 <%=image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/Resume_07_15.png", :alt => "full_resume") %>

	 <div id="linkk">
		 <h3>
		 	<%= link_to 'Download PDF', "https://s3-us-west-1.amazonaws.com/darceyselmaimages/Darcey_Lachtman_Resume.pdf" %>
		</h3>
	</div>
</div>

<%= render "cntct" %>