body{
	cursor: url(favicon.ico),auto;
}

h1{
	font-family: 'bebas';
	font-size: 6em;
	text-align: center;
	margin-bottom: 1em;
	margin: 0 auto;
	
	
}

h2{
	font-family: 'bebas';
	font-size: 1.5em;
}

h3{
	/*text-align: center;*/
	font-family: 'bebas';
}

h4{
	font-family: 'Comfortaa';
	font-size: .75em;
}

#background{
	z-index: -1;
}

#container{
	width: 30em;
	margin: 2em auto;
	line-height: 1.5em;
	text-align: center;
}

#container img{
	border-radius: 50em;
	margin: .5em;
}
.title{
	text-align: center;
}

#background{
	z-index: -1;
	position: fixed;
}

#menu{
	/*display: inline;*/
	max-width: 100em;
	margin: 1em auto;
	text-align: center;
	margin-bottom: 2em;
	/*position: fixed;*/


}

.item{
	display: inline-block;
	margin: 3em;
	
}

#first{
	margin: 0 auto;
}

#second{
	margin: 0 auto;
	
}

#second .item{
	margin: 0 3em;
}

#resume{
	margin: 0 auto;
	text-align: center;

}


#project_list{
	/*padding: 5em;*/
	/*text-align: center;*/
	display: block;
}

.project{
	text-align: center;
	margin: 4em auto;
	margin-bottom: 3em;
	/*display: block;*/
	width: 25em;
	/*padding: 6em;*/
	
}



.proj{
	width: 15em;
	float: left;
	margin: 2em auto;
}


.description{
	width: 10em;
	text-align: left;
	float: right;
	display: inline-block;
	margin-top: 3em;
	/*margin-bottom: 5em;*/
}

.project h2{
	margin-top: 0em;
}

.home{
	max-height: 1em;
}
.home a{
	text-decoration: none;
	color: black;

}
.home a:visited, a:hover, a:active{
	text-decoration: none;
	color: black;
}



.home img{
	z-index: -1;
	position: fixed;
}

.home h2{
	padding-left: 2em;
	padding-top: 1.5em;
	position: fixed;
}


.cntct{
	max-height: 1em;
}
.cntct a{
	text-decoration: none;
	color: black;

}
.cntct a:visited, a:hover, a:active{
	text-decoration: none;
	color: black;
}



.cntct img{
	z-index: -1;
	position: fixed;
	bottom: 1em;
	right: 5em;
}

.cntct h2{
	padding-right: 2em;
	padding-bottom: 1.5em;
	position: fixed;
	bottom: 0em;
	right: 3em;
}

.vect{
	/*max-width: 30em;*/
	display: inline-block;
	margin: 1em;
	text-align: center;
	max-width: 200px;
}

#gallery{
	max-width: 200em;
	padding: 2em 10em;
	text-align: center;
	display: inline-block;
}

.line{
	/*display: inline;*/
}



